
		
		<div class="hero-unit">
			<h1>Say what? You've never seen a site like this.</h1>

			<p class="lead">
				You've made it to the homepage! 
				<%= link_to "GOOOGLE!!", "http://www.google.com" %>

			</p>

			<p>
				<%= link_to "Sign up", "#", class: "btn btn-inverse btn-large" %>  for glittering prizes!
			</p>

		</div>




